.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Привязываем к правому краю, изначально скрыт */
    width: 250px;
    height: 100%;
    background-color: #1A1E2D;
    color: #E0E0E0;
    transition: right 0.3s ease; /* Анимация для right */
    z-index: 1001;
  }
  
  .sidebar.open {
    right: 0; /* Выезжает до правого края (0) */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 20px 0;
  }
  
  .sidebar li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #2A2F43;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение */
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .sidebar-overlay.open {
    opacity: 1;
    visibility: visible;
  }