@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  position: relative;
}
html, body {
  margin: 0;
  padding: 0;
  background: #1A1E2D; /* Соответствует фону страниц */
  overflow-x: hidden;
  min-height: 100vh;
  overscroll-behavior-y: none; /* Запрещает "отскок" на iOS */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}